h1 {
    text-decoration: underline;
    text-decoration-color: rgb(6, 4, 15);
    border: 5px solid rgb(105, 128, 0);
    padding: 30px;
    font-size: 12pt;
    margin: auto;
  }
.container{
text-align: center;
background-color: black;
color: white;
margin: 0 auto;
width: 600px;

}

  h2 
  {
    font-size: 8pt;
    border: 1px solid black;
    margin: left;
    background: #fad3d3;
    width: 160px;
    list-style-type:none

  }


 ul.google  {
    font-size: 10pt;
    border: 1px solid black;
    margin: 10px;
    padding: 0;
    background: #ee0f0f;
    list-style-type:none;  
     }


li.google
 {display: inline-block;  
}






@media (max-width: 1024px) {
  h1 {

color: red; background: rgb(48, 15, 238); font-size: 20px; line-height: 27px;



  }
}
